---
layout: layouts/base.njk
permalink: /tesori/
title: "Tesori"
---

<div class="griglia-carte">
  {% for oggetto in collections.master_tesori %}
    
    {% if oggetto.data.pubblicato %}
    
    <div class="carta-dnd">
      <h3 class="carta-titolo">{{ oggetto.data.title }}</h3>
  
      {% if oggetto.data.image %}
      <div class="carta-illustrazione">
          <img src="{{ oggetto.data.image }}" alt="{{ oggetto.data.title }}">
      </div>
      {% endif %}
  
      <hr class="linea-tesoro">
  
      <div class="carta-tipo">
        {{ oggetto.data.tipo }}, {{ oggetto.data.rarita }}
        {% if oggetto.data.sintonizzazione %}
          <br><span class="sintonizzazione">(Richiede Sintonizzazione)</span>
        {% endif %}
      </div>
  
      <hr class="linea-tesoro">
  
      <div class="carta-descrizione">
        {{ oggetto.templateContent | safe }}
      </div>
    </div>
    
    {% endif %}
  
  {% endfor %}
</div>
